/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/log
progl.iml
resources/public/vendor/
node_modules/
resources/public/assets/
resources/public/uploads/
